aniso8601==8.0.0
appdirs==1.4.3
CacheControl==0.12.5
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
configparser==4.0.2
contextlib2==0.6.0.post1
distlib==0.3.0
enum34==1.1.6
filelock==3.0.12
firebase-admin==2.16.0
Flask==1.0.2
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.8
futures==3.2.0
google-api-core==1.10.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-firestore==1.1.0
google-cloud-storage==1.15.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
grpcio==1.20.1
gunicorn==19.9.0
idna==2.8
importlib-metadata==1.6.0
importlib-resources==1.4.0
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
more-itertools==5.0.0
msgpack==0.6.1
numpy==1.16.6
pandas==0.24.2
pathlib2==2.3.5
pop==7.3.0
prompt-toolkit==2.0.9
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pymessenger==0.0.7.0
pymongo==3.4.0
python-dateutil==2.8.1
python-dotenv==0.10.1
pytz==2019.1
Quandl==3.4.9
requests==2.21.0
requests-toolbelt==0.9.1
rsa==4.0
scandir==1.10.0
scikit-learn==0.20.4
scipy==1.2.3
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
typing==3.7.4.1
urllib3==1.24.3
virtualenv==20.0.16
wcwidth==0.1.7
Werkzeug==0.15.3
wit==5.1.0
zipp==1.2.0
